@page "/courses"
@inherits CoursesBase
@inject NavigationManager NavigationManager

    <header class="row mb-4">
        <h3 class="col-md-10">Courses</h3>
        <a href="courses/add" class="btn btn-success col-md-2">Add Course</a>
    </header>

@if (courses == null)
{
    <div class="spinner-border"></div>
}
else
{
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Naziv</th>
            <th>Studenti</th>
            <th></th>
        </tr>
        @foreach (var course in courses)
        {
            <tr>
                <td>@course.Id</td>
                <td>@course.Naziv</td>
                <td>
                    <button class="btn btn-outline-info" @onclick="@(() => NavigationManager.NavigateTo($"courses/{course.Id}/details"))">
                        View Enrolled (@course.PredmetiStudenti.Count)
                    </button>
                </td>
                <td>
                    <button class="btn btn-primary" @onclick="@(() => NavigationManager.NavigateTo($"courses/{ course.Id }/edit"))">Edit</button>
                    <button class="btn btn-outline-danger" @onclick="() => DeleteCourse(course.Id)">Delete</button>
                </td>
            </tr>
        }
    </table>
}
